<!DOCTYPE html>
<html>
<head>
	<title>Add Special Customers</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
	<div class="container">
		<br>
		<a href="../admin_dashboard" class="waves-light waves-effect btn">Go to Dashboard</a>
		<h4>View All Special Customers</h4>
		<table class="highlight centered">
			<thead>
				<tr>
					<th>Serial No.</th>
					<th>RFID of User</th>
					<th>Remove Special Customer</th>
				</tr>
			</thead>
			{% for i in range(len) %}
			<tbody>
				<tr>
					<td>{{i+1}}</td>
					<td>{{data[i]}}</td>
					<td><a href="{{url_for('deleteSpecialCustomers', rfid=data[i])}}"><i class="material-icons">delete_forever</i></a></td>
				</tr>
			</tbody>
			{% endfor %}
		</table>
	</div>
</body>
</html>