<!DOCTYPE html>
<html>
<head>
	<title>Admin Register Page</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<style type="text/css">	
		#formValidator {
			font-size: 1.2rem;
		}
	</style>
</head>
<body>
	<div class="container">
		<h2 class="display-2">Fill in the following Details</h2>
		<p>(All of the details are required)</p>
		<br>
		<form method="POST" class="col s12" id="register_form">
			<div class="row">
				<div class="col s6">
					Shop Email: <input type="email" name="shop_email" id="shop_email" placeholder="Enter you Shop Email" required>
				</div>
			</div>
			<div class="row">
				<div class="col s6">
					Shop Name: <input type="text" name="shop_name" id="shop_name" placeholder="Enter you Shop Name" required>
				</div>
			</div>
			<div class="row">
				<div class="col s6">
					Password: <input type="password" name="password" id="password" placeholder="Enter the Password you want to keep" required>
				</div>
				<div class="col s6">
					Rapeat Password: <input type="password" name="repeat_password" id="repeat_password" placeholder="Re-Type your password" onkeyup="checkPassword()" required>
				</div>
			</div>
			<div class="row">
				<div class="col s6">
					<span id="formValidator"></span>
				</div>
			</div>
			<div class="row">
				<div class="col s6">
					2 Wheeler Parking Slots: <input type="number" name="wheeler_2" id="wheeler_2" placeholder="Enter the no of 2 Wheeler Parking Slots" required>
				</div>
			</div>
			<div class="row">
				<div class="col s6">
					2 Wheeler Pricing Components: <input type="number" name="price_2" id="price_2" placeholder="Enter the no of 2 Wheeler Pricing Components" required>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col s6">
					4 Wheeler Parking Slots: <input type="number" name="wheeler_4" id="wheeler_4" placeholder="Enter the no of 4 Wheeler Parking Slots" required>
				</div>
			</div>
			<div class="row">
				<div class="col s6">
					4 Wheeler Pricing Components: <input type="number" name="price_4" id="price_4" placeholder="Enter the no of 4 Wheeler Pricing Components" required>
				</div>
			</div>
			<div class="row">
				<div class="col s8">
					<p>Do you have special (daily) customers for which you want to allocate parking from the end</p>
					<p>
						<label>
							<input type="radio" name="special_customer" value="1" />
							<span>YES</span>
						</label>
					</p>
					<p>
						<label>
							<input type="radio" name="special_customer" value="0" />
							<span>NO</span>
						</label>
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col s5">
					Discount(in terms of %): <input type="number" name="discount" id="discount" placeholder="Enter the discount in terms of percentage(leave blank otherwise)" value="0">
				</div>
			</div>
			<div class="row">
				<button type="submit" class="btn">Submit</button>
			</div>
		</form>
	</div>

	<script type=text/javascript src="{{url_for('static', filename='js/admin/admin_register.js') }}"></script>
</body>
</html>