<!DOCTYPE html>
<html>
<head>
	<title>Admin Dashboard</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link href = "https://fonts.googleapis.com/icon?family=Material+Icons" rel = "stylesheet">
	<style type="text/css">
		h1 {
			margin-top: 0;
		}
	</style>
</head>
<body>
	<div class="container">
		<h1>Admin Dashboard</h1>
		<ul class="collection">
			<a href=""><li class="collection-item">Entry/Exit of Vehicle</li></a>
			<a href="changePassword"><li class="collection-item">Change Password</li></a>
			<a href="specialCustomers/addSpecialCustomers"><li class="collection-item">Add Special Customers</li></a>
			<a href="specialCustomers/viewSpecialCustomers"><li class="collection-item">View All Special Customers</li></a>
			<a href="parking/parkingStatus2"><li class="collection-item">View 2 Wheeler Parking Status</li></a>
			<a href="parking/parkingStatus4"><li class="collection-item">View 4 wheeler Parking Status</li></a>
			<a href="parking/addParking"><li class="collection-item">Add Extra Parking Slots</li></a>
			<a href="discount/changeDiscount"><li class="collection-item">Change Discount Percentage for Special Customers</li></a>
			<a href="parking/parkingStatus"><li class="collection-item">View Parking Status</li></a>
			<a href="pricing/viewPricing"><li class="collection-item">View Pricing Details</li></a>
			<a href="pricing/changePricing2"><li class="collection-item">Change 2 wheeler Parking Prices</li></a>
			<a href="pricing/changePricing4"><li class="collection-item">Change 4 wheeler Parking Prices</li></a>
		</ul>
		<div>
			<a href="logout" class="links waves-effect waves-light btn">Logout</a>
		</div>
		<br>
		<div>
			<a href="deleteAdminAccount" class="links waves-effect waves-light btn">Delete Account</a>
		</div>
	</div>
</body>
</html>