<!DOCTYPE html>
<html>
<head>
	<title>Parking Details</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
	<div class="container">
		<br>
		<a href="../admin_dashboard" class="waves-light waves-effect btn">Go to Dashboard</a>
		<h4>Parking Status</h4>
		<table class="highlight striped centered responsive-table">
			<thead>
				<tr>
					<th>Type of Vehicle</th>
					<th>Total Spaces</th>
					<th>Free Spaces</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>2 Wheeler</td>
					<td>{{all2}}</td>
					<td>{{free2}}</td>
				</tr>
			</tbody>
			<tbody>
				<tr>
					<td>4 Wheeler</td>
					<td>{{all4}}</td>
					<td>{{free4}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>