<!DOCTYPE html>
<html>
<head>
	<title>Change Pricing 4</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
	<div class="container">
		<br>
		<a href="../admin_dashboard" class="waves-light waves-effect btn">Go to Dashboard</a>
		<h4>Change Pricing of 4 Wheeler Parking</h4>
		<div class="row">
			<form method="POST" class="col s12">
				<div class="row">
					<div class="col s8">
						4 Wheeler Pricing Components<input type="number" name="price_4" id="price_4" placeholder="Enter the no of new 4 Wheeler Pricing Components" required>
					</div>
				</div>
				<div id="price4_form">

				</div>
				<div class="row">
					<div class="col">
						<button class="btn" type="submit">Submit</button>
					</div>
				</div>
			</form>
		</div>
	</div>

	<script type=text/javascript src="{{url_for('static', filename='js/admin/pricing/changePricing4.js') }}"></script>
</body>
</html>