<!DOCTYPE html>
<html>
<head>
	<title>See All User Images</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link href = "https://fonts.googleapis.com/icon?family=Material+Icons" rel = "stylesheet">
	<style type="text/css"></style>
</head>
<body>
	<div class="container">
		<br>
		<a class="btn" href="../user_dashboard"> Go to Dashboard</a>
		<h3>Your Images</h3>
		<table class="highlight centered">
			<thead>
				<tr>
					<th>Serial No.</th>
					<th>Name of the Image Stored</th>
					<th>Image</th>
					<th>Unauthorize this person from using your RFID Tag</th>
				</tr>
			</thead>
			{% for i in range(len) %}
			<tbody>
				<tr>
					<td>{{i+1}}</td>
					<td>{{images[i]}}</td>
					<td><img src={{url_for('file', filename=images[i])}} height="150" width="150"></td>
					{% if len == 1 %}
						<td>Atleast one authorized user is required</td>
					{% else %}
						<td><a href={{url_for('deleteImage', index=i)}}><i class="material-icons">delete_forever</i></a></td>
					{% endif %}
				</tr>
			</tbody>
			{% endfor %}
		</table>
		<a class="btn" href="../user_dashboard"> Go to Dashboard</a>
	</div>
</body>
</html>