<!DOCTYPE html>
<html>
<head>
	<title>Transfer Money</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
	<div class="container">
		<br>
		<a href="../user_dashboard" class="waves-light waves-effect btn">Go to Dashboard</a>
		<p>Current Balance: Rs.{{balance}}</p>
		<h4>Transfer balance to other user</h4>
		<div class="row">
			<form method="POST" class="col s12">
				<div class="row">
					<div class="input-field col s6">
						RFID of the user you want to transfer money to: <input name="rfid" type="number" min="0" class="validate" required>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s6">
						Amount to be transferred: <input name="transferBalance" type="number" min="0" class="validate" required>
					</div>
				</div>
				<div class="row">
					<div class="col s5">
						<button type="submit" class="btn">Transfer Balance</button>
					</div>
				</div>
			</form>
			<h5 style="color: {{color}}">{{message}}</h5>
		</div>
	</div>
</body>
</html>