<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<style type="text/css">
		.center {
			height: 100vh;
			margin-top: 10%;
		}
		.admin {
			background-image: url(../static/img/admin.jpg);
		}
		.user {
			background-image: url(../static/img/user.jpg);	
		}
	</style>
</head>
<body>
	<div class="center">
		<div class="row">
			<div class="admin">
				<div class="col s6">
					<h3>Admin Area</h3>
					<a href="admin_login" class="waves-effect waves-light btn">Login as Admin</a>
					<br><br>
					<a href="admin_register" class="waves-effect waves-light btn">Sign Up as Admin</a>
				</div>
			</div>
			<div class="user">
				<div class="col s6">
					<h3>User Area</h3>
					<a href="user_login" class="waves-effect waves-light btn">Login as User</a>
					<br><br>
					<a href="user_register" class="waves-effect waves-light btn">Sign Up as User</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>