<!DOCTYPE html>
<html>
<head>
	<title>User Dashboard</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link href = "https://fonts.googleapis.com/icon?family=Material+Icons" rel = "stylesheet">
	<style type="text/css">
		h1 {
			margin-top: 0;
		}
	</style>
</head>
<body>
	<div class="container">
		<h1>User's Dashboard</h1>
		<ul class="collection">
			<a href="user/addImages"><li class="collection-item">Add User Images(Add Images of people who could be using your RFID tag)</li></a>
			<a href="user/seeImages"><li class="collection-item">See All User Images</li></a>
			<a href="parking/userParkingDetails"><li class="collection-item">See All Parking Details</li></a>
			<a href="user/seeUserPassbook"><li class="collection-item">See Your Passbook</li></a>
			<a href="user/changePassword"><li class="collection-item">Change Password</li></a>
			<a href="user/addBalance"><li class="collection-item">Add Balance</li></a>
			<a href="user/transferBalance"><li class="collection-item">Transfer your Balance to another user</li></a>
		</ul>

		{% if flag==1 %}
			<h5 style="color: green">Your vehicle is currently parked in Slot no: {{slot}}</h5>
		{% endif %}
		<div>
			<a href="logout" class="links waves-effect waves-light btn">Logout</a>
		</div>
		<br>
		<div>
			<a href="deleteUserAccount" class="links waves-effect waves-light btn">Delete Account</a>
		</div>
	</div>
</body>
</html>
